.filters {
  width: 70%;
  margin: 20px auto;

  .numsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .formGrp {
    display: flex;
  }

  .numImp {
    width: 100px;
  }

  .numWrapper {
    margin: 5px;
  }
}

