@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

a {
  color: #fff;

  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(12px + 0.35vw); /* Responsive base font size */
  line-height: calc(12px + 1.05vw); /* Responsive Vertical Rhythm */
  background-color: $gray1;
}

.main-ctnr {
  width: 100%; /* For small screens */
  max-width: 1140px; /* For large screens */
  margin: auto; /* Center the container in the viewport */
}

label {
  margin: 0 !important;
}

h1 {
  font-size: 1.912em;
  line-height: calc(18px + 1.8vw); /* Responsive Vertical Rhythm */
}

h2 {
  font-size: 1.616em;
  line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}

h3 {
  font-size: 1.471em;
  line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}

h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.243em;
}
h6 {
  font-size: 1.132em;
}

h4,
h5,
h6 {
  line-height: calc(18px + 0.2vw); /* Responsive Vertical Rhythm */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  // margin: calc(12px + 1.05vw) 0; /* Responsive margins */
}
