.card {
  margin: 10px 0;
  display: flex;

  img {
    width: 20%;
    margin: 2px;
  }

  .infoWrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 0 5%;

    .title {
      width: 100%;
      text-align: center;
      margin: 2px;
      h2 {
        margin: 0;
      }
    }

    .mainInfo {
      width: 100%;
      display: flex;
      position: relative;
      height: 100%;
      margin: 2px;

      .auction {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        margin: 2px;

        p {
          margin: 0;
        }
      }

      .bike {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 2px;

        p {
          margin: 0;
        }
      }
    }
  }
}
